/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
/storage/pail
/bootstrap/cache
/vendor
/coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
docker-compose.override.yml
.php-cs-fixer.cache

.vite
*.local

# IDEs and editors
.idea
.vscode
.fleet
.nova
.phpunit.cache
.zed
*.sublime-project
*.sublime-workspace

.phpstan/cache/
